<!--====== STORE CONTENT - CAPACITY INFO ======-->
<div class="store-details">
    <!-- Title -->
    {{> store_title label="Store Info"}}

    <!-- Store Details -->
    <div class="store-links">
        <ul>
            <!-- Form Start - Store Details -->
            <form method="POST" class='store-form' action="/account/{{store._id}}">

                <!-- Store Address -->
                <li class="d-flex justify-content-start align-items-center">
                    <!-- Icon - Map -->
                    <i class="fas fa-map-marker-alt"></i>
                    <!-- Editable Input -->
                    <input type="text" id="address" class="edit" name="address" value="{{store.address}}" required/>
                    <!-- Text -->
                    <p class="saved">{{store.address}}</p>
                </li>

                <!-- Store Phone -->
                <li class="d-flex justify-content-start align-items-center">
                    <!-- Icon - Phone -->
                    <i class="fas fa-phone"></i>
                    <!-- Editable Input -->
                    <input type="text" id="phone" class="edit" name="phone" value="{{store.phone}}" required/>
                    <!-- Text Link -->
                    <a href="tel:{{store.phone}}" class="saved">{{store.phone}}</a>
                </li>

                <!-- Store Website -->
                <li class="d-flex justify-content-start align-items-center">
                    <!-- Icon - Globe -->
                    <i class="fas fa-globe"></i>
                    <!-- Editable Input -->
                    <input type="text" id="url" class="edit" name="url" value="{{store.url}}" required/>
                    <!-- Text - Link -->
                    <a href="{{store.url}}" class="saved">{{store.url}}</a>
                </li>

                <!-- Store Hours -->
                <li class="d-flex justify-content-start align-items-baseline">
                    <!-- Icon - Hourglass -->
                    <i class="far fa-hourglass"></i>

                    <div>
                        <p>Store Hours:</p>
                        {{#each store.hours as |day|}}
                        <p class="hours d-flex justify-content-between">
                            {{#if (eq day.open undefined)}}
                            <span class="day">{{day.day}}:</span> <span>Closed</span>
                            {{else}}
                            <span class="day">{{day.day}}:</span> <span>{{day.open}}
                                - {{day.close}}</span>
                            {{/if}}
                        </p>
                        {{/each}}
                    </div>
                </li>

            </ul>
        </form>
        <!-- Form End -->

        <!-- Added Store Links -->
        {{#if (eq (len store.links) 0)}}
        {{else}}
        {{#each store.links as |link|}}
        <li class="row d-flex justify-content-start align-items-center">
            <!-- Icon - Link -->
            <i class="fas fa-link"></i>
            <a href={{link.url}} class="saved">{{link.title}}</a>
            <!-- Form Start - Remove Link -->
            <form method="POST" class="link-removed" action="/account/{{store._id}}">
                <a href="javascript:void(0);">
                    <i class="fas fa-minus-circle" id="remove"></i>
                </a>
            </form>
            <!-- Form End -->
        </li>
        {{/each}}
        {{/if}}

        <!-- Form Start - Add Link -->
        <form method="POST" class="link-form" action="/account/{{store._id}}">

            <!-- Input Row - Link Title -->
            <li class="d-flex justify-content-start align-items-center">
                <input type="text" id="linkTitle" class="hide-link" name="linkTitle" placeholder="Link Title" required/>
            </li>

            <!-- Input Row -->
            <li class="d-flex justify-content-start align-items-center">
                <!-- Input - Link URL -->
                <input type="text" id="linkUrl" class="hide-link" name="linkUrl" placeholder="URL" required/>
                <!-- Button - Confirm -->
                <i class="fas fa-check" id="check"></i>
                <!-- Button - Cancel -->
                <i class="fas fa-times" id="cancel"></i>
            </li>

            <!-- Button - Add Link -->
            <li id="add" class="d-flex align-items-center">
                <i class="fas fa-plus"></i>
                <a href="javascript:void(0);">Add Link</a>
            </li>
        </form>
        <!-- Form End -->

    </div>
</div>