<!--====== ABOUT START ======-->
<section id="about" class="style-2">
    {{> header title="About Us" subtitle_1="CapTracks is a mobile application that provides the information consumers need, when they need it. We are a two-sided, integrative platform that matches capacity to demand through direct vendor-to-customer engagement, crowdsourced information, and location-based technologies." subtitle_2="We envision better management of foot traffic and time to foster safe environments in the wake of COVID-19 and beyond."}}
</section>
<!--====== TEAM START ======-->
<section id="team">
    <div class="container">
        {{> section_title title="Meet the Team"}}
        {{#each members as |member|}}
        {{#if (ifOdd member.id)}}
        <div class="row justify-content-center">
            {{/if}}
            <div class="col-lg-6 col-md-8 col-sm-9">
                <div class="box">
                    <div class="content">
                        <img src="assets/img/profiles/{{member.image}}" width="300" height="388" alt="{{member.name}}">
                        <h4 class="sub-title profile">{{member.name}}</h4>
                        <h6 class="label">{{member.title}}</h6>
                        <p>{{member.bio}}</p>
                        <br />
                        <p>{{member.about}}</p>
                    </div>
                </div>
            </div>
            {{#if (ifEven member.id)}}
        </div>
        {{/if}}
        {{/each}}
    </div> <!-- Container End -->
</section>
<!--====== TEAM ENDS ======-->
<!--====== ABOUT ENDS ======-->
