<!--====== FORUM START ======-->
<section id="forum" class="style-2">
    {{> header title=store.name text1="View recent updates directly from store.name."}}
    <span id="data" style="display: none;">{{{ forum }}}</span> 
</section>
<section id="posts">
    <div class="container">
        {{!-- {{#each forum as |msg|}} --}}
            <div class="row justify-content-between">
                <div class="col-sm-3">
                    <div class="store-info">
                        <h5>Store Info</h5>
                        <hr>
                        <div class="store-links">
                            <ul>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i>{{store.address}}</a></li>
                                <li><a href=""><i class="fas fa-phone"></i>{{store.phone}}</a></li>
                                <li><a href="{{store.website}}"><i class="fas fa-globe"></i>{{store.website}}</a></li>
                           </ul>
                           {{#if links}}
                                <hr>
                                {{#each links as |link|}}
                                <a href={{link}}>{{link.title}}</a>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="divider border-gradient"></div>
                <div class="col-sm-9">
                    <div class="forum-box">
                        <div class="forum-content">
                            <h5 class="post-title float-left">TITLE{{msg.title}}</h5>
                            <h6 class="label float-right">DATE{{msg.createdOn}}</h6>
                            <br/>
                            <hr>
                            <p class="post-text">INFO{{msg.text}}</p>
                        </div>
                    </div>
                </div>  
            </div>
        {{!-- {{/each}} --}}
    </div> <!-- Container End -->
    <span id="data" style="display: none;">{{{ forum }}}</span> 
</section>
<!--====== FORUM ENDS ======-->